:root{
    --vermelho: #e50914;
    --preto: #141414;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* elementos base*/

body{
    background: var(--preto);
    font-family: 'Arial';
    color: #fff;
    
}
header .super-container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;     
}
header .left{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; 
    margin-left: 5px;   
}
header .left a{
text-decoration: none;   
}
header .logo{
    text-decoration: none;
    margin-left: 15px;
    margin-right: 25px;
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px;
}
header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 5px;
}
header nav a:hover{
    color:#fff;
}
header .right{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end; 
}
header .right a{
    text-decoration: none;
    display: flex; 
    color: #aaa;   
}
header .right a:hover{
    color: #fff;
}
header .icon{
    margin-right: 20px;
    font-size: 120%;
}

/*filme principal*/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(19, 18, 18, 0.99),rgba(73, 73, 73, 0.1),rgba(73, 73, 73, 0.1),rgba(19, 18, 18, 0.99)), url('../img/capa2.jpg') no-repeat fixed;
    height: 600px;

    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    font-family: 'Arial';
    margin-top: 10px;
    margin-bottom: 20px;
    width: 80%;
}

.filme-principal .titulo{
    font-family: 'Arial Black';    
    margin-top: 5%;
    margin-bottom: 20px;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0, .30);
    border: none;
    color: white;
    padding: 15px 20px;
    margin-right: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: .5s ease all;
    border-radius: 5px;
}
.botao:hover{
    background-color: rgba(255, 250, 250, .70);
    color: black;
}

.container{
    margin-left: 20px;
}
.filme-principal .container{
    width: 60%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}
.carrossel-filmes{
    margin-top: 10px;
}

