@media screen and (max-width: 700px) {

    header .left{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        justify-content: center;
        align-items: flex-start;
    }
    header .logo{
        text-decoration: none;
        margin-left: 0;
    }
    .botao{
        margin-top: 5px;
        width: 200px;
    }
}
@media screen and (min-width: 700px) {
    .descricao{
        width: 70%;
    }
}
@media screen and (min-width: 1200px) {
    .filme-principal{        
        height: 650px;

    }
    
}
